/*
.body {
   background-image: url("../img/cc-shiplap.png");

}
.card {
    border: 1px solid #999;
    padding: 3px;
    background-color: #fff;
    box-shadow: 3px 3px 5px #777777;
}*/

.card-body {
    text-align: center;
}